<div class="row">
  <div class="col">
    <h1>Primary Heading</h1>
    <p>Only one per page, please.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Communicating with Web Servers</h2>
    <p>
      The Internet consists of <em>millions</em> of web servers, each one
      waiting for you to make a request for the resources they provide. They
      offer information such as the current weather conditions, stock market
      prices, and even
      <a href="https://api.nasa.gov/api.html#apod">images from other worlds</a>.
      The best part is, <strong>all of these servers speak HTTP</strong>.
    <p>
  </div>

  <div class="col">
    <h2>Todo</h2>
    <ul>
      <li>Learn Web Development</li>
      <li>Create Hardware Startup:
        <ul>
          <li>Imagine an awesome product.</li>
          <li>Build awesome product.</li>
          <li>Get funding.</li>
          <li>Rule the world.</li>
        </ul>
      </li>
      <li>Plan Vancouver vacation</li>
      <li>Buy vacation house</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Code</h2>
    <div class="code">
# weather.rb
require "net/http"
require "active_support/core_ext/hash"
require "pp"

weather_url = "http://forecast.weather.gov/MapClick.php?lat=42.35&lon=-71.06&FcstType=dwml"
uri = URI.parse(weather_url)            # convert the URL string to a URI object
response = Net::HTTP.get_response(uri)  # issue a HTTP GET request
body = Hash.from_xml(response.body)     # convert XML to a more familiar data type

pp body  # "pretty-print" the hash
    </div>
  </div>
</div>
