<div class="row">
  <div class="col">
    <h2> Select2.js Example </h2>

    <!-- select2.js example -->
    <form id="city-form" name="cityForm" action="/cities" method="post">
      <select id="select-cities" name="cityName">
        <option></option>
      </select>

      <button type="submit">Submit</button>
    </form>

  </div>
</div>
